header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.App {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-name {
  width: 90%;
}

.App-button {
  width: fit-content;
  height: fit-content;
}

.Componente-Semana {
  margin-top: 10px;
  height: 34rem;
  background-color: #a6adb3;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Componente-DiaDaSemana {
  width: 12.5rem;
  height: 30rem;
  border-radius: 18px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ItemAgenda {
  font-size: medium;
  background-color: #ebe7e6;
  border-radius: 8px;
  padding: 8px;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(4px 4px 4px #c5ab9e);
}

.ItemAgenda-cabeçalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ItemAgenda-horario {
  margin-top: 12px;
  align-self: flex-end;
}

.ItemAgenda-X {
  color: #c5ab9e;
}

.Componente-Evento {
  background-color: #ebe7e6;
}

.Componente-Evento-X {
  color: #c5ab9e;
}

.Componente-Alarme {
  background-color: #ebd9d0;
}

.Componente-Alarme-X {
  color: #cd9172;
}

.Componente-DiaDaSemana-dia {
  width: 80%;
  height: 10%;
  font-size: large;
  color: #f5f5f5;
  background-color: #a6adb3;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Componente-DiaDaSemana-areaDeEventos {
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 4px;
}

.Modal,
.Modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.Modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.Modal-conteudo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 18px;
  max-width: 600px;
  min-width: 300px;
}
