body {
  font-family: "Lexend", sans-serif;
  background-color: #c9d1d3;
}

h1 {
  font-weight: 400;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 28px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
}

form li {
  width: 90%;
  display: flex;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 0.8em;
}

input,
select {
  font-size: 1em;
  font-family: "Lexend", sans-serif;
  border: 1px solid #a6adb3;
  box-sizing: border-box;
}

input {
  width: 280px;
}

input:focus {
  border-color: #a6adb3;
}

#horarioInicio,
#horarioFim,
#horario {
  width: 5.8em;
}
